@import "src/styles/variables";


.product {
  display: flex;
  margin-top: 48px;
  &-left {
    flex: 1;
  }
  &-right {
    flex: 1;
    margin-right: 16.6666%;
    margin-left: 5%;
  }
  &-img {
    margin-left: -48px;
    img {
      max-height: 600px;
    }
  }

  &-prices {
    margin-bottom: 32px;
    display: flex;
    > *:not(:last-child) {
      margin-right: 16px;
    }
    span {
      border-color: #fff;
      color: rgba(#000, 0.5);
    }
  }

  &-text {
    margin-bottom: 48px;
  }

  &-table {
    margin-bottom: 32px;
    width: 100%;
    tr {
      td:first-child {
        font-weight: 600;
        padding-right: 16px;
        padding-bottom: 4px;
      }
      td:last-child {
        text-align: right;
      }
    }
  }

  &-inputs {
    display: flex;
    margin-bottom: 24px;
    &--left {
      position: relative;
      margin-right: 16px;
      flex:1;
      label {
        position: absolute;
        top: 11px;
        right: 16px;

        font-family: Roboto Mono, Lucida Console, Monaco, monospace;
        font-weight: 400;
        font-size: 16px;
        color: rgba(39, 33, 33, .5)
      }
      input {
        background: #fff;
        max-width: 200px;
        //width: 200px;
      }
    }
    &--right {
      flex:1;
      .select {
        //width: 200px;
      }
    }
  }

  &-subscribe {
    margin-bottom: 24px;
    > button._group {
      width: 100%;
      background: none;
      border-color: rgba(#000, 0.5);
    }
  }

  &-addToCart {
    button {
      
    }
  }

  h1 {
    font-family: Bagnard Sans, Lucida Sans Unicode, Lucida Grande, serif;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 24px;
  }

  h2 {
    font-family: Bagnard Sans, Lucida Sans Unicode, Lucida Grande, serif;
    font-weight: 400;
    color: #272121;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 16px;
  }
}


.-mainProduct {
  padding-bottom: 56px;
  background-color: $c-yellow;
  &._green {
    background-color: $c-green;
  }
  &._blue {
    background-color: $c-blue;
  }
}


.tag {
  font-family: Roboto Mono, Lucida Console, Monaco, monospace;
  font-weight: 400;
  font-size: 14px;
  color: #272121;
  text-transform: uppercase;
  display: inline;
  border: 1px solid;
  padding: 4px 10px 5px;
  line-height: 24px;
}
