<div class="-headerTop">
  <div class="headerTop">
    <figure class="headerTop-subImg">
      <img src="https://redroostercoffee.com/assets/1218890ed84f9b53dcc085e9f2fb7c60.svg" alt="">
    </figure>
    <figure class="headerTop-img">
      <img src="https://redroostercoffee.com/assets/d0d93d957789b7ca8fe55703d7bcd78c.svg" alt="">
    </figure>
    <a class="headerTop-button nolink" href="/shop/subscriptions">
      <button class="btn _default">Shop Subscriptions</button>
    </a>

    <div class="plants">
      <img src="https://redroostercoffee.com/assets/2d3512235f1b2583c0b70be31acf6c3e.png" alt="" class="plants-left">
      <img src="https://redroostercoffee.com/assets/2d3512235f1b2583c0b70be31acf6c3e.png" alt="" class="plants-right">
    </div>
  </div>
</div>
